Source: snd-i2s-rpi-dkms
Section: misc
Priority: optional
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Build-Depends: debhelper (>= 10), dkms
Standards-Version: 4.3.0

Package: snd-i2s-rpi-dkms
Architecture: armhf
Provides: snd-i2s-rpi-modules (= 0.1.0)
Depends: dkms (>= 1.95), ${misc:Depends}
Description: snd-i2s-rpi driver in DKMS format.
 Driver for the Adafruit I2S MEMS Microphone
